 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.container{
  max-width: 1024px;
  /* min-width: 300px; */
  margin: 0 auto;
  background-color: gray;
  .left-unit{
    background-color: lightgray;
    float: left;
    width: 35%;
  }
  .right-unit{
    background-color: darkgray;
    float: right;
    width: 65%;

  }
}
//with media query you tell it what it will be targeting, and what it will do with the target once it reaches a certain point
@media (max-width: 500px){
  .container{
  .right-unit, .left-unit{
    float: none;
    width: 100%;
  }
}
}
//^once the width reaches 500px or under, take off the float and apply a width of 100% for both (so divs become stacked @ full width)

//starting with mobile first, build from smallest screen to largest=less media queries, and more functionality

@media (min-width: 500px){
  .container{
  .right-unit{
    width: 35%;
  }
  .left-unit{
    width: 65%;

  }
}
}
